@page "/"
@rendermode InteractiveServer

<PageTitle>Project Dice</PageTitle>

<h1>Вітаю!</h1>
<h2>У вас є унікальна можливіть кинути кубик та поставити на те яка грань випаде!</h2>

<div class="dice">
    
</div>

<button @onclick="Perevirca">Кинути кубик</button>

<p>Перевірка: @amout</p>

@code
{
    int amout = 0;
    void Perevirca()
    {
        amout++;
    }
}