@page "/"
@rendermode InteractiveServer

<PageTitle>Project Dice</PageTitle>
<div class="conteiner">
    <h1>Вітаю!</h1>
    <h2>У вас є унікальна можливіть кинути кубик та поставити на те яка грань випаде!</h2>

    <div class="dice">
        <p>@diceResult</p>
    </div>

    <button @onclick="rollingdice" class="buton">Кинути кубик</button>
</div>
@code
{
    int diceResult;
    void rollingdice()
    {
        Random dice = new Random();
        diceResult = dice.Next(1,7);
    }

}