@page "/"
@rendermode InteractiveServer

<PageTitle>Project Dice</PageTitle>
<div class="conteiner">
    <h1>Вітаю!</h1>
    <h2>У вас є унікальна можливіть кинути кубик та поставити на те яка грань випаде!</h2>
    <button class="buton"><a href="dice">Розпочати</a></button>
</div>